body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-color: #b7c0ca; /* Cor de fundo azul bebê */
}

.gradient-custom {
    background: #6a11cb; /* Fallback para navegadores antigos */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); /* Para Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); /* Padrão W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f8f9fa; /* Cor de fundo azul bebê para o card */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
}

.card-body {
    padding: 2rem;
}

.custom-font {
    font-family: 'Times New Roman', Times, serif; /* Fonte Times New Roman para o título */
    font-size: 2.5rem;
    color: #6a11cb; /* Cor personalizada */
}

.btn-google, .btn-facebook, .btn-custom {
    font-size: 14px;
    padding: 8px 12px;
}

.btn-google {
    background-color: #dd4b39;
    color: #fff;
    border: none;
}

.btn-google:hover {
    background-color: #c23321;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    border: none;
}

.btn-facebook:hover {
    background-color: #2d4373;
}

.btn-custom {
    background-color: #000;
    border: none;
    width: 100%;
}

.btn-custom:hover {
    background-color: #333;
}
